/* Update Profile Form Styles */
/* Reset body margin and padding */



body {
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
  }

.form-container {
    border-radius: 10px; /* rounded corners for the container */
    padding: 20px; /* padding inside the container */
    background-color: #FFEBCC; /* mocha background for the container */
    width: 500px; /* set the width of the container */
    margin: 0 auto; /* center the container horizontally */

  }
  
  .update-form {
    margin-top: 15px;
    margin-bottom: 25px;

    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  
  .update-form section {
    background-color: #f5f5f5; /* light gray background */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .update-form h3 {
    text-align: center;
    margin-bottom: 20px;
    color: #964b00; /* mocha text */
    position: relative;
    left: 139px;
  }
  

  .form-group label {
    display: block;
    margin-bottom: 10px;
    color: #786c3b; /* mocha text */
  }
  
  .form-group input[type="text"],
  .form-group input[type="email"],
  .form-group input[type="number"],
  .form-group input[type="password"] {
    width: 235%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc; /* light gray border */
    border-radius: 5px;
    background-color: #f5f5f5; /* light gray background */
  }
  
  .form-group input[type="text"]:focus,
  .form-group input[type="email"]:focus,
  .form-group input[type="number"]:focus,
  .form-group input[type="password"]:focus {
    border-color: #ffa07a; /* orange border */
    box-shadow: 0 0 10px rgba(255, 160, 122, 0.5);
  }
  

  
  .btn:hover {
    background-color: #e76a4a; /* darker orange background */
  }

  *{
    font-family: Arial, sans-serif
  }